/*-------- Default Colors --------*/

$white: #FFFFFF;
$black: #000000;

/*-------- Base Colors --------*/

$onyx: #373E40;
$slate-gray: #77878B;
$lime: #CDFA38;
$white-smoke: #F5F5F5;
$celestial-blue: #0098D9;